$backgroundCards: #F2F2F2;
$contentColor: #666;
$headerColor: #000;
$priceColor: #F6FAFD;
$textOverBackground: #FFF;
$colorLinks: #1698D9;
$defaultColor:  #1698D9;
$defaultHoverColor: #2EA8E6;
$selectedColor: #D91667;
$selectedHoverColor:#E62E7A;
$disabledColor: #b3b3b3;
$svgDisabledColor: #fff;
$disabledTextColor: #FFFF66;
